@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

:root {
  --black: #212121;
  --dark-blue: #8e2de2;
  --darker-blue: #6516aa;
  --gray: #6b6b6b;
  --dark-gray: #212121;
  --background-gradient: linear-gradient(to right, #8e2de2, #4a00e0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  min-width: 320px;
}
